<div class="edit-pane" id="edit-pane">
    <fieldset class="control-section control-section--examples">
        <div class="control-group control-group--horizontal">
            <div class="control">
                <label class="control-label control-heading" for="examples-list">Examples:</label>
                <select
                    class="control-input control-input--select"
                    id="examples-list"
                    value="{{ examples.selected }}"
                >
                    {{#examples.list:i}}
                        <option value="{{ i }}">{{ name }}</option>
                    {{/examples.list}}
                </select>
            </div>
            <button class="btn" on-click='examples.load'>Load</button>
        </div>
    </fieldset>
</div>

<div class="control-pane">

    <p class="progress">{{{ progress }}}</p>

    <fieldset class="control-section">
        <h3 class="control-heading">Bounding box</h3>

        <h4>Position</h4>
        <ul class="control-group control-group--horizontal">
            <li class="control">
                <label class="control-label visuallyhidden" for="bounding-x">x</label>
                <input
                    class="control-input control-input--narrow"
                    id="bounding-x"
                    type="number"
                    step=".1"
                    value="{{ bounding.position.x }}"
                >
            </li>
            <li class="control">
                <label class="control-label visuallyhidden" for="bounding-y">y</label>
                <input
                    class="control-input control-input--narrow"
                    id="bounding-y"
                    type="number"
                    step=".1"
                    value="{{ bounding.position.y }}"
                >
            <li class="control">
                <label class="control-label visuallyhidden" for="bounding-z">z</label>
                <input
                    class="control-input control-input--narrow"
                    id="bounding-z"
                    type="number"
                    step=".1"
                    value="{{ bounding.position.z }}"
                >
            </li>
        </ul>

        <h4>Size</h4>
        <ul class="control-group control-group--horizontal">
            <li class="control">
                <label class="control-label visuallyhidden" for="bounding-w">w</label>
                <input
                    class="control-input control-input--narrow"
                    id="bounding-w"
                    type="number"
                    step=".1"
                    value="{{ bounding.size.width }}"
                >
            </li>
            <li class="control">
                <label class="control-label visuallyhidden" for="bounding-h">h</label>
                <input
                    class="control-input control-input--narrow"
                    id="bounding-h"
                    type="number"
                    step=".1"
                    value="{{ bounding.size.height }}"
                >
            <li class="control">
                <label class="control-label visuallyhidden" for="bounding-d">d</label>
                <input
                    class="control-input control-input--narrow"
                    id="bounding-d"
                    type="number"
                    step=".1"
                    value="{{ bounding.size.depth }}"
                >
            </li>
        </ul>

        <div class="control">
            <input
                class="control-checkbox"
                id="bounding-visible"
                type="checkbox"
                checked="{{ bounding.visible }}"
            >
            <label class="control-label" for="bounding-visible">Visible</label>
        </div>
    </fieldset>

    <fieldset class="control-section control-section--preview">
        <h3 class="control-heading">Preview</h3>
        <div class="control">
            <input
                class="control-checkbox"
                id="preview-proportional"
                type="checkbox"
                checked="{{ preview.proportional }}"
            >
            <label class="control-label" for="preview-proportional">Proportional</label>
        </div>
        <ul class="control-group control-group--horizontal">
            <li class="control">
                <label class="control-label visuallyhidden" for="preview-x">x</label>
                <input
                    class="control-input control-input--narrow"
                    id="preview-x"
                    type="number"
                    value="{{ preview.resolution.x }}"
                >
            </li>
            <li class="control">
                <label class="control-label visuallyhidden" for="preview-y">y</label>
                <input
                    class="control-input control-input--narrow"
                    id="preview-y"
                    type="number"
                    value="{{ preview.resolution.y }}"
                >
            <li class="control">
                <label class="control-label visuallyhidden" for="preview-z">z</label>
                <input
                    class="control-input control-input--narrow"
                    id="preview-z"
                    type="number"
                    value="{{ preview.resolution.z }}"
                >
            </li>
        </ul>
        <div class="control">
            <input
                class="control-checkbox"
                id="preview-wireframe"
                type="checkbox"
                checked="{{ preview.wireframe }}"
            >
            <label class="control-label" for="preview-wireframe">Wireframe</label>
        </div>
        <button
            class="btn"
            on-click="preview.start"
            {{#if preview.disable }}
                disabled
            {{/if}}
        >Render</button>
        {{#if preview.showCancel }}
            <button class="btn" on-click="preview.cancel">Cancel</button>
        {{/if}}
    </fieldset>

    <fieldset class="control-section control-section--download">
        <h3 class="control-heading">Download</h3>
        <div class="control">
            <input
                class="control-checkbox"
                id="download-proportional"
                type="checkbox"
                checked="{{ download.proportional }}"
            >
            <label class="control-label" for="download-proportional">Proportional</label>
        </div>
        <ul class="control-group control-group--horizontal">
            <li class="control">
                <label class="control-label visuallyhidden" for="download-x">x</label>
                <input
                    class="control-input control-input--narrow"
                    id="download-x"
                    type="number"
                    value="{{ download.resolution.x }}"
                >
            </li>
            <li class="control">
                <label class="control-label visuallyhidden" for="download-y">y</label>
                <input
                    class="control-input control-input--narrow"
                    id="download-y"
                    type="number"
                    value="{{ download.resolution.y }}"
                >
            <li class="control">
                <label class="control-label visuallyhidden" for="download-z">z</label>
                <input
                    class="control-input control-input--narrow"
                    id="download-z"
                    type="number"
                    value="{{ download.resolution.z }}"
                >
            </li>
        </ul>
        <button
            class="btn"
            on-click="download.start"
            {{#if download.disable }}
                disabled
            {{/if}}
        >Generate</button>
        {{#if download.showCancel }}
            <button class="btn" on-click="download.cancel">Cancel</button>
        {{/if}}
    </fieldset>
</div>
