<div class="controls">

    <fieldset class="control-section">
        <h3 class="control-heading">Bounding box</h3>

        <div class="control-group control-group--horizontal">
            <h4>Position</h4>
            <ul>
                <li class="control">
                    <label class="control-label" for="bounding-x">x</label>
                    <input
                        class="control-input control-input--narrow"
                        id="bounding-x"
                        type="number"
                        value="{{ bounding.position.x }}"
                    >
                </li>
                <li class="control">
                    <label class="control-label" for="bounding-y">y</label>
                    <input
                        class="control-input control-input--narrow"
                        id="bounding-y"
                        type="number"
                        value="{{ bounding.position.y }}"
                    >
                <li class="control">
                    <label class="control-label" for="bounding-z">z</label>
                    <input
                        class="control-input control-input--narrow"
                        id="bounding-z"
                        type="number"
                        value="{{ bounding.position.z }}"
                    >
                </li>
            </ul>
        </div>

        <div class="control-group control-group--horizontal">
            <h4>Size</h4>
            <ul>
                <li class="control">
                    <label class="control-label" for="bounding-w">w</label>
                    <input
                        class="control-input control-input--narrow"
                        id="bounding-w"
                        type="number"
                        value="{{ bounding.size.width }}"
                    >
                </li>
                <li class="control">
                    <label class="control-label" for="bounding-h">h</label>
                    <input
                        class="control-input control-input--narrow"
                        id="bounding-h"
                        type="number"
                        value="{{ bounding.size.height }}"
                    >
                <li class="control">
                    <label class="control-label" for="bounding-d">d</label>
                    <input
                        class="control-input control-input--narrow"
                        id="bounding-d"
                        type="number"
                        value="{{ bounding.size.depth }}"
                    >
                </li>
            </ul>
        </div>
    </fieldset>

    <fieldset class="control-section">
        <h3 class="control-heading">Preview</h3>
        <div class="control">
            <label class="control-label" for="preview-resolution">Resolution</label>
            <input
                class="control-input"
                id="preview-resolution"
                type="number"
                value="{{ preview.resolution }}"
            >
        </div>
        <button
            class="btn"
            on-click="preview.start"
            {{#if preview.disable }}
                disabled
            {{/if}}
        >Render</button>
        {{#if preview.showCancel }}
            <button class="btn" on-click="preview.cancel">Cancel</button>
        {{/if}}
    </fieldset>

    <fieldset class="control-section">
        <h3 class="control-heading">Download</h3>
        <div class="control">
            <label class="control-label" for="preview-resolution">Resolution</label>
            <input
                class="control-input"
                id="preview-resolution"
                type="number"
                value="{{ download.resolution }}"
            >
        </div>
        <button
            class="btn"
            on-click="download.start"
            {{#if download.disable }}
                disabled
            {{/if}}
        >Generate</button>
        {{#if download.showCancel }}
            <button class="btn" on-click="download.cancel">Cancel</button>
        {{/if}}
    </fieldset>

    <p class="progress">{{ progress }}</p>
</div>
