@import "normalize.css";


body {
    margin: 0;
    height: 100%;
    background: #111;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* Layout
   ========================================================================== */

.header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.ui {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    min-height: 100%;
}

.editor {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    height: 0;
    min-height: 200px;
    font-size: 80%;
}

.CodeMirror {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
}

.controls {
    flex-grow: 0;
}

#scene,
#ui {
    margin-top: 0;
}

#background canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#scene {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

#scene canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
}


/* Header
   ========================================================================== */

.header {
    font-size: 16px;
    padding: 12px;
    color: #06B6EF;
}

.header-title {
    font-size: 18px;
    display: inline;
    color: #48B685;
}

.header-about {
    color: inherit;
}


/* Editor
   ========================================================================== */

.CodeMirror {
    font-size: 13px !important;
}


/* Process controls
   ========================================================================== */

.controls {
    font-size: 12px;
}

.controls h4 {
    margin: 0;
    font-size: inherit;
}

.controls * + h4 {
    margin-top: 12px;
}

.controls ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.control-heading {
    font-size: 14px;
}

.btn {
    margin-top: 12px;
}

.controls {
    background: #33554f;
    color: #eee;
    padding: 12px;
    font-size: 12px;
}

.progress {
    margin: 0;
    padding: 12px;
    margin: -12px;
    margin-bottom: 24px;
    background: #48b685;
    color: #2F1E2E;
}

.control-section {
    border: none;
    padding: 0;
    margin: 0;

    width: 33.333%;
    min-width: 170px;
    box-sizing: border-box;
    float: left;

    margin-bottom: 24px;
}


* + .control-group {
    margin-top: 1em;
}

.control-group--horizontal:before,
.control-group--horizontal:after {
    content: " ";
    display: table;
}
.control-group--horizontal:after {
    clear: both;
}

.control-group--horizontal .control {
    float: left;
}

.control-group--horizontal .control + .control {
    margin-left: 6px;
}

.control-heading {
    margin: 0;
    font-weight: normal;
}

.control-label,
.control-input {
    display: inline-block;
    margin-top: 1em;
}

.control-label {
    margin-right: 3px;
}

.control-input {
    width: 100px;
}

.control-input--narrow {
    width: 40px;
}

input,
button {
    border: none;
    padding: 6px;
}

input {
    background: #437568;
}

button {
    background: #fec418;   
    color: #2F1E2E;
}

input[type=number] {
    padding-right: 3px;
}

input[disabled],
button[disabled] {
    background: #222;
    color: #666;
}
